.h1inpo {
  color: white; /* Warna teks agar lebih mudah dibaca */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Bayangan teks untuk keterbacaan */
  padding: 20px;
  padding-top: 17%;
  font-family: "Poppins", sans-serif; /* Menggunakan font Poppins */
  font-weight: 700; /* Berat font bold */
  font-size: 2.8rem; /* Menyesuaikan ukuran teks */
  position: relative; /* Memposisikan teks relatif di atas overlay */
  z-index: 1; /* Pastikan teks di atas overlay */
}

@media (max-width: 428px) {
  .h1inpo {
    font-size: 1.6rem; /* Sesuaikan ukuran teks agar lebih kecil di layar kecil */
    font-weight: 300; /* Mengurangi berat font agar lebih ringan */
    margin-top: 190px; /* Sesuaikan margin jika diperlukan */
  }
}
@media (max-width: 834px) {
  .h1inpo {
    margin-top: 230px; /* Sesuaikan margin jika diperlukan */
  }
}
@media (max-width: 360px) {
  .h1inpo {
    font-size: 1.6rem; /* Sesuaikan ukuran teks agar lebih kecil di layar kecil */
    font-weight: 300; /* Mengurangi berat font agar lebih ringan */
    margin-top: 190px; /* Sesuaikan margin jika diperlukan */
  }
}
